*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

header{
    background: url(../images/Bg3.png) no-repeat fixed;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    
    box-shadow: inset 0 90px 20px -7px rgba(0,0,0,0.4);

    height: 750px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.logoAndNav{
    display: flex;
    flex-direction: row;
}

.header__logo{
    text-transform: uppercase;
    cursor: pointer;
    
    margin-top: 47px;
    margin-left: 12%;
    height: 240px;
    
    color: #e2e0e0;
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
}

.topnav{
    margin-left: 10%; 
    margin-top: 54px;
    height: 240px;
}

.topnav .text{
    padding-left: 26px;
    padding-right: 26px;
    color: #e2e0e0;
    font-family: 'Gentium Book Basic', serif;
    font-size: 21px; 
}

.topnav .text:hover{
    padding-top: 51px;
    border-top: 3px solid #c8c4b6;
}

.topnav .icon{
    padding-right: 20px;
    color: #dab33e;
    font-size: 21px;
}

.header__main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header__main h1{
    color: #f3f3f3;
    font-family: 'Yeseva One', cursive; 
    font-size: 90px;
    font-weight: lighter;
    text-align: center;
}

.header__main .line{
    display: block;
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto 
}

.buttons{
    display: flex;
    flex-direction: row;
    margin-top: 36px;
    width: 100%;
}

.buttons a{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
}

.button1{
    border: 1px solid black; 
    width: 225px;
    height: 56px;
    margin-left: 37.2%;
    margin-right: 2%;
    display: block;
    line-height: 56px;
    position: relative;
    z-index: 1;
}

.button1::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: black;
    top: 0;
    left: 0;
    opacity: .5;
    z-index: -1;
}    

.button2{
    border: 1px solid #d4cfb4; 
    width: 225px;
    height: 56px;
    display: block;
    line-height: 56px;
    position: relative;
    z-index: 1;
}

.button2::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #d4cfb4;
    top: 0;
    left: 0;
    opacity: .5;
    z-index: -1;
}   

.about{
    background: url(../images/pattern.png) no-repeat, 
                url(../images/background_about.png) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    
    height: 710px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.about .leftContent{
    display: flex;
    flex-direction: column;
    width: 777px;
}

.leftContent .about__logo{
    margin-top: 110px;
    margin-left: 365px;
    color: #cc9900;
    font-family: 'Yeseva One', cursive; 
    font-size: 36px;
    font-weight: lighter;
}

.leftContent .line{
    display: block; 
    margin-top: 16px;
    margin-left: 420px;
}

.leftContent .aboutDescrip{
    margin-top: 36px;
    margin-left: 265px;
    color: #4c4c4c;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.leftContent .theCook{
    margin-top: 47px;
    margin-left: 447px;
}

.about .dish{
    margin-top: 74px;
}

.reservations {
    width: 100%;
    height: fit-content;
    padding: 100px 0px 103px 0px;
    background: url(../images/pattern.png) no-repeat,
                url(../images/background2.png) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    background-position: center;
    background-size: cover;
    text-align: center;
    border: 1px solid rebeccapurple;
}

.rimg {
    width: 270px;
    height: 508px;
    display: inline-block;
    vertical-align: top;
    margin: 15px;
    padding: 0px;
    border: 1px solid rebeccapurple;
}

.rdiv {
    max-width: 570px;
    width: 90%;
    height: 508px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 15px;
    padding: 0px;
    border: 1px solid rebeccapurple;
}

footer {
    width: 100%;
    padding-top: 52px;
    padding-bottom: 50px;
    height: fit-content;
    text-align: center;
    background-color: #191919;
}

.fdiv {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    height: 218px;
    width: 390px;
    margin: 0px;
    padding: 0px;
}

.fdiv h6 {
    color: #f3f3f3;
    font-family: 'Yeseva One', cursive;
    font-size: 21px;
    font-weight: lighter;
}

.fdiv p {
    color: #f3f3f3;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.fdiv .ficon {
    color: #f3f3f3;
    font-size: 16px;
    margin: 50px 5px 0px 5px;
    
}

@media screen and (max-width: 1500px){
    .topnav a{
        display: none;
    }
}

@media screen and (max-width: 600px){
    .rimg {
        width: 135px;
        height: 254px;
        display: inline-block;
        vertical-align: top;
        margin: 15px;
        padding: 0px;
        border: 1px solid rebeccapurple;
    }
}